<link rel="stylesheet" href="/css/MainPage.css"/>
@using SkidEl;
@model Tuple<List<Category>, Dictionary<Discount,string>>
@*@model IEnumerable<SkidEl.Category>*@
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
    <div id="BlocksContainer" style="padding:30px 0px">
        <div style="font-weight: 800; font-size: 30px">Категории</div>
        <div id="CategoriesContainer">
            @{
                foreach (var item in Model.Item1)
                {
                    <a href="/discounts?Category=@Html.DisplayFor(modelitem => item.Name)&Page=1">
                        <div style="display: flex; flex-direction: column; gap: 10px; background: unset; justify-content: center; align-items: center;">
                            <div style="border-radius: 100%; background: white; height: 125px; width: 125px; display: flex; flex-direction: unset; justify-content: center; align-items: center;">
                                <img src="@Html.DisplayFor(modelitem => item.Description)" onerror="https://imgholder.ru/100X100/FFFFFF/EF003C&text=SkidEl&font=bebas" style="height: 75%"/>
                            </div>
                            <div style="font-size:17px; align-items:center; width:161px; justify-items: center; text-align:center">@Html.DisplayFor(modelItem => item.Name)</div>
                        </div>
                    </a>
                }
            }
        </div>
        <div style="font-weight: 800; font-size: 30px; margin-top:-40px">Лучшие акции</div>
        <div id="BestDiscountsContainer">
            @{
                foreach (var item in Model.Item2)
                {
                    <a href="~/discount/@Html.DisplayFor(modelitem => item.Key.Id)">
                        <div style="display:flex; flex-direction:column; gap: 7px; width: 200px;">
                            <image style="width:200px; height:200px; align-self: center; border-radius: 20px" src="@Html.DisplayFor(modelitem => item.Value)"></image>
                            <div style="display: flex; flex-direction: row; gap: 5px; align-items: end;">
                                <div style="font-weight: bold; font-size: 20px;">@Html.DisplayFor(modelitem => item.Key.NowPrice)</div>
                                <div style="color: gray; text-decoration: line-through">@Html.DisplayFor(modelitem => item.Key.PreviousPrice)</div>
                            </div>
                            <div class="DiscountTitleLink">@Html.DisplayFor(modelitem => item.Key.Name)</div>
                        </div>
                    </a>
                }
            }
        </div>
        <a href="/discounts?Category=Все товары&Page=1">
            <button class="ShowMoreButton">Показать ещё</button>
        </a>
    </div>
}